{% extends 'testdb/base2.html' %}
{% block title %}Category{% endblock %}

{% load static %}

{% block content %}
<div style="text-align:center;">
    <table>
         <tr>
            <th>Title</th>
             <td>{{study_material_info.title}}</td>
        </tr>
         <tr>
            <th>Description</th>
             <td>{{study_material_info.description}}</td>
        </tr>
        <tr>
            <th>Material</th>
            <td>{{study_material_info.material}}</td>
        </tr>
            <tr>
            <th>Files with materials</th>
             <td>
   <a href="{{study_material_info.files.url}}" download="{{study_material_info.title}}">Download Material</a></td>
        </tr>
        {% if study_material_info.picture %}
        <td colspan="2">
             <img src="{{study_material_info.picture.url}}" class="ImageAbout" style="border-radius:0"/>
        </td>
    {% endif %}
    </table>

    {% if teacher %}
        <button class="Text-style" id="UpdateStudyMaterial"><a href="{% url 'update_study_material' study_material_info.pk %}" class="AStyle">Update</a></button>
        <button class="Text-style" id="DeleteStudyMaterial"><a href="{% url 'delete_study_material' study_material_info.pk %}" class="AStyle">Delete</a></button>
    {% endif %}
    <table style="border:None;">
        <th style="border:None;"><a href="{% url 'course' study_material_info.course_id %}">Back</a></th>
    </table>
</div>
{% endblock %}
